Source: alsa-lib
Section: libs
Priority: optional
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Uploaders: Jordi Mallach <jordi@debian.org>, Steve Kowalik <stevenk@debian.org>, David B. Harris <dbharris@debian.org>, Thomas Hood <jdthood@aglu.demon.nl>
Build-Depends: debhelper (>= 4.1.51), dpatch, autotools-dev, doxygen
Standards-Version: 3.6.2.1

Package: libasound2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Recommends: libasound2-utils
Suggests: libasound2-plugins (>= 1.0.9)
Conflicts: libasound2-plugins (<< 1.0.9)
Description: ALSA library
 This package contains the ALSA library and its standard
 plugins.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-dev
Architecture: any
Section: libdevel
Provides: libasound-dev
Depends: libc6-dev | libc-dev, libasound2 (= ${Source-Version})
Suggests: libasound2-doc
Conflicts: libasound-dev, alsa-headers
Replaces: libasound2 (<< 0.9.0rc7-2), alsa-headers
Description: ALSA library development files
 This package contains files required for developing software
 that makes use of libasound2, the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-utils
Architecture: any
Section: sound
Depends: ${shlibs:Depends}, python2.4
Description: ALSA library utilities
 This package contains utility programs for use with
 the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.

Package: libasound2-doc
Architecture: all
Section: libdevel
Suggests: libasound2-dev
Description: ALSA library developer documentation
 This package contains documentation for the ALSA library.
 .
 ALSA is the Advanced Linux Sound Architecture.
